{% extends 'crm/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="col col-md-8">
        <div class="form-group border-top pt-3">
            <a class="btn btn-outline-info" href=" {%url 'update_event' id=event.id %}">Modifier</a>
        </div>
    </div>
    <div class="content-section col-md-8">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">À propos de L'Evenement</legend>
            <div class="form-row">
              <div class="form-group col-md-6 mb-0">
                <i class="far fa-user"></i> {{event.user}}
              </div>
              <div class="form-group col-md-6 mb-0">
                <i class="far fa-handshake"></i> {{event.client}}
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6 mb-0">
                <i class="fas fa-file-signature"></i> {{event.contract}}
              </div>
              <div class="form-group col-md-6 mb-0">
                Nombre de participant: {{ event.attendees }}
              </div>
            </div>
            <div class="form-row mt-4">
              <div class="form-group col-md-6 mb-0">
                Date de  du l'evenement: {{ event.event_date }}
              </div>
            </div>
            <div class="form-row mt-4">
              <div class="form-group col-md-6 mb-0">
                  Date de creation: {{ event.date_created }}
              </div>
              <div class="form-group col-md-6 mb-0">
                Dernière modification: {{ event.date_updated }}
              </div>
            </div>
            <div class="form-row mt-4">
              <div class="form-group col-md-6 mb-0">
                  Description: {{ event.note }}
              </div>
            </div>
        </fieldset>
    </div>
{% endblock content %}