{% extends 'crm/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section col-md-6">
        <form method="POST" action="{% url 'password_change' %}">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Changemement de mot de passe</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Changer mot de passe</button>
            </div>
        </form>
    </div>
{% endblock content %}