{% extends 'crm/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section col-md-8">
        <form method="POST" action="{% url 'update_profile' %}">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">À propos de moi</legend>
                <div class="form-row">
                  <div class="form-group col-md-6 mb-0">
                    {{ form.username|as_crispy_field }}
                  </div>
                  <div class="form-group col-md-6 mb-0">
                    {{ form.email|as_crispy_field }}
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6 mb-0">
                    {{ form.first_name|as_crispy_field }}
                  </div>
                  <div class="form-group col-md-6 mb-0">
                    {{ form.last_name|as_crispy_field }}
                  </div>
                </div>
                <div class="form-group mb-0">
                    {{ form.team|as_crispy_field }}
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6 mb-0 mb-0">
                    {{ form.is_superuser|as_crispy_field }}
                  </div>
                  <div class="form-group col-md-6 mb-0 mb-0">
                    {{ form.is_active|as_crispy_field }}
                  </div>
                </div>
                <div class="border-top pt-3">
                    <a class="ml-2" href="{% url 'password_change' %}">Modifier votre mot de passe?</a>
                </div>
            </fieldset>
            <div class="form-group border-top pt-3">
                <button class="btn btn-outline-info" type="submit">Modifier</button>
            </div>
        </form>
    </div>
{% endblock content %}